
# Distribution directories
/build
/dist

# Dependency directories
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.module-cache
.DS_Store
npm-debug.log
.vscode
yarn.lock